@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0B0F0E;
}

html.dark body {
  background-color: #0B0F0E;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-zoomo {
  @apply px-4 py-3 rounded-xl bg-white/5 text-white outline-none focus:ring-2 focus:ring-z-accent border border-white/10;
}